<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AccountEntities" connectionString="metadata=res://*/AccountModel.csdl|res://*/AccountModel.ssdl|res://*/AccountModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q16GQJ2B;initial catalog=E-mangSampah;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmangSampahEntities" connectionString="metadata=res://*/Model.E-mangSampahModel.csdl|res://*/Model.E-mangSampahModel.ssdl|res://*/Model.E-mangSampahModel.msl;provider=System.Data.SqlClient;provider connection string='data source=emangsampah.database.windows.net;initial catalog=&quot;E-mang Sampah&quot;;user id=EdoBagus;password=Rikoremot1;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="EmangSampahModelContainer" connectionString="metadata=res://*/Model.EmangSampahModel.csdl|res://*/Model.EmangSampahModel.ssdl|res://*/Model.EmangSampahModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-Q16GQJ2B;initial catalog=EmangSampah;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmangSampahModelContainer1" connectionString="metadata=res://*/Model.EmangSampahModel.csdl|res://*/Model.EmangSampahModel.ssdl|res://*/Model.EmangSampahModel.msl;provider=System.Data.SqlClient;provider connection string='data source=emangsampah.database.windows.net;initial catalog=&quot;E-mang Sampah&quot;;user id=EdoBagus;password=Rikoremot1;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>